/* Design System
---- 01 TYPOGRAPHY sUYSTEM

- SPACING SYTEM (px) 
2 /4 / 8/ 12 / 16 /24 /32 /48 / 64/ 80/ 96 /128
- FONT SIZE SYSTEM (px)
10 /12 /14 /16 /18 /24 /30/ 36 /44 / 52 /62 /74 / 86 /98

- FONT-WEIGHTS
Default: 400
Footer Font Weight: 800

- LINE HEIGHTS
DEFAULT:1.4 [Body]
PARAGRAPHS: 1.5
 1.25;


--- 02 COLOURS
MAIN COLOURS : #087f5b
MAIN COLOR_1 #2c5f2d HAS A BETTER CONTRAST RATIO
GREY COLOR : #212529

- Primary:
- Tints:
- Shades:
- Accents
- Greys:
# 555


---05 Shadows-------

---06 BORDER RADIUS-------
  Contact Us Form 10px;

---07 WHITESPACING SYSTEM--------
2 /4 / 8/ 12 / 16 /24 /32 /48 / 64/ 80/ 96 /128

---- 08 Images ------------
unspalsh.com, UIfaces.co
*/

html, body {
  height: 100%;
}
/* body {
  margin-top: 200px;
} */

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: blue;
  font-size: 24px;
}

.forms_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .forms_container {
    flex-direction: column;
  }
  
}

/***********************************************/
/*Navigation */
/***********************************************/
.nav {
  list-style-type: none;
  /* display: flex; */
  margin: 0;
  padding: 0px 20px 0px 20px;
  /* display: flex; */
  /* font-size: 1rem; */
  /* background-color: #2c5f2d; */
}

.nav ul {
  list-style-type: none;
  display: flex;
  background-color: #2c5f2d;
  justify-content: end;
  align-items: stretch;
  gap: 2rem;
}
/* .primary-nav li {
  padding: 0 1px 0 1px;
} */
.nav li a {
  color: #fff;
  /* background-color: #2c5f2d; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}

.nav li a:link,
.nav li a:visited {
  color: #fff;
  display: inline-block;
  /* background-color: #416f42; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}

.nav li a:hover,
.nav li a:active {
  color: #000;
  display: inline-block;
  font-weight: bold;
  /* background-color: #2c5f2d; */
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  /* border: black 3px solid; */
  /* border-radius: 10px; */
  display: block;
  font-size: 1rem;
}

/* ========= Moving nav from vertical to horizonatal ========= */
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar a:hover {
  /* background-color: red; */
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* CSS Media Queries to NAV for all pages */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .nav ul {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* position: absolute; */
    top: 120px; /* Adjust as needed */
    background-color: #333;
    z-index: 1;
  }
  .nav.active li {
    margin: 20px 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }
}
#tankcontainer {
  max-width: 300px;
  margin: auto;
  border: 3px solid #73AD21;
}


#container-farmers-in-control, #container-slurry-management{
max-width: 600px;
border: 5px solid;
  margin: auto;
  width: 75%;
  padding: 10px;
}
#container-slurry-management{
  margin-top: 0px;
}




.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.row {
  display: flex; /* equal height of the children */
}

@media screen and (max-width: 825px) {
  .flex-container {
    flex-direction: column;
  }
}

#register-buton, #login-buton{
  padding: 0px 0px 6px 0px;
}

#farm-number-error-message, #tank-length-error-message,
#tank-width-error-message, #tank-height-error-message, #date-error-message{
  display: hidden;
  color: red;
}


td, th, caption {
  text-align: center;
}

