<!DOCTYPE html class="h-100">
<html lang="en class=" h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Libre+Baskerville&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>{% block title %}{% endblock %}</title>
</head>


<body>
  <div class="container h-100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <div class="container-fluid">

          <div class="navbar-brand">
            <!-- <img src="../static/img/FarmAILogo1.png" alt="" width="60" height="48"> -->
            <!-- class="d-inline-block align-text-top"> -->
            <!-- <h1>FARMAI</h1> -->
          </div>
        </div>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" id="login" href="{{ url_for('login') }}">Login</a>
            </li>
            <!-- <a class="nav-link" href="index.html">Home</a> -->

            <li class="nav-item">
              <a class="nav-link" id="logout" href="{{ url_for('login')}}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register" href="{{ url_for('register')}}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="home" href="{{ url_for('index')}}">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- placeholder for content -->
    <div class="container pt-10"></div>
    {% block body %}
    <!-- <div class="container pt-10"> -->
    text
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</body>

</html>