{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<h1>Contact Us Page</h1>
<p>For more information, please contact us at:</p>
<p>Phone: 123-456-7890</p>
<div class="form-group mb-3">
  {{form.firstname.label}}
  {{form.firstname(size=32, class="form-control", id="firstname")}}
  {% for error in form.firstname.errors %}
  <span style="color: red;">[{{error| upper}}]</span>
  {% endfor %}
</div>
<div class="form-group mb-3">
  {{form.lastname.label}}
  {{form.lastname(size=32, class="form-control", id="lastname")}}
  {% for error in form.lastname.errors %}
  <span style="color: red;">[{{error| upper}}]</span>
  {% endfor %}
</div>
<div class="form-group mb-3">
  {{form.email.label}}
  {{form.email(size=32, class="form-control", id="email")}}
  {% for error in form.email.errors %}
  <span style="color: red;">[{{error| upper}}]</span>
  {% endfor %}
</div>
<div class="form-group mb-3">
  {{form.mobilenumber.label}}
  {{form.mobilenumber(size=32, class="form-control", id="mobilenumber")}}
  {% for error in form.mobilenumber.errors %}
  <span style="color: red;">[{{error| upper}}]</span>
  {% endfor %}
</div>
<!---SELECT FARM TYPE-->
<div class="form-group">
  {{form.farmtype.label}}
  {{form.farmtype(size=32, class="form-control", id="farmtype")}}
  {% for error in form.farmtype.errors %}
  <span style="color: red;">[{{error| upper}}]</span>
  {% endfor %}

</div>

{% endblock %}

</html>