{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<h1 class="text-center mt-1 ">FARMERS IN CONTROL OF THEIR DATA - LOGIN </h1>
<!-- Bootstrap to centre Form -->
<div class="container" id="loginformcontainer">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-md-6">
      <!-- Form -->
      <form action="" method="post" novalidate>
        <!-- <input autocomplete="false" name="hidden" type="text" style="display:none;"> -->
        {{form.hidden_tag()}}
        <!-- <h2> Login To </h2> -->
        <img src="../static/img/FarmAILogo1.png" alt="" width="120" height="96" class="d-inline-block align-text-top">
        <p class="description">Login to FarmAI to get access to FarmAI Tools.</p>
        {{ msg }}
        <!-- Input Loging Form fields -->
        <div class="form-group mb-3">
          {{form.username.label}}
          {{form.username(size=32, class="form-control", id="username")}}
          {% for error in form.username.errors %}
          <span style="color: red;">[{{error}}]</span>
          {% endfor %}
          <!-- {{form.username.errors}} -->
          <!-- <label for="text">Username</label> -->
          <!-- <input type="text" class="form-control" id="username" name="username" placeholder="Username..." required> -->
        </div>
        <div class="form-group mb-3">
          {{form.password.label}}
          {{form.password(class="form-control", id="password" )}}
          {% for error in form.password.errors %}
          <span style="color: red;">[{{error}}]</span>
          {% endfor %}
          <!-- <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Username..."
                required> -->
        </div>
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="form-check mb-6">
          <input class="form-check-input" type="checkbox" id="inlineFormCheck" />
          <label class="form-check-label" for="inlineFormCheck">
            Remember me
          </label>
        </div>
        <!-- End Login Form input fields -->
        <!-- <p class="copyright mb-2">&copy; FarmAI - Putting Artificial Intelligence in Farming.</p> -->
      </form>
      <footer>
        <p><small>Copyright &copy;2023 FARMAI- Putting Artificial Intelligence into Farming.</small></p>
      </footer>
      <!-- Form end -->
    </div>
  </div>
</div>

</form>
</div>
</div>

{% endblock %}
<script src="../static/js/login.js"></script>


</html>