{% extends "base.html" %}
{% block title %}Tank Level Predictions{% endblock %}


<div class="container pt-5">

  {% block body %}
  <h1>Tank Predictions Output</h1>
  <!-- <caption>List of Tank Fill Levels until Tank is Full</caption> -->
  <table class="table table-striped table-bordered table-hover table-sm">

    <thead class="thead-dark">
      <tr>
        {% for headeritem in header %}
        <th scope=" col">{{ headeritem }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for row in data %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <footer>
    <p><small>Copyright &copy;2023 FARMAI- Putting Atrificial Intelligence into Farming.</small></p>
  </footer>
  {% endblock %}

</div>

</html>